<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CEPE</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div th:replace="componentes/inicio :: navbar"></div>
<!-- Conteúdo Principal -->
<div class="container mt-4">
    <h2>Cadastrar Usuário</h2>

    <!-- Mensagens de sucesso/erro -->
    <div th:if="${sucesso}" class="alert alert-success" th:text="${sucesso}"></div>
    <div th:if="${erro}" class="alert alert-danger" th:text="${erro}"></div>

    <form th:action="@{/cadastrar-usuario/salvar}" th:object="${usuario}" method="post">
        <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" th:field="*{cpf}" placeholder="Digite o CPF" required>
        </div>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Digite o nome" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Digite o email" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>


<!-- Bootstrap JS -->
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
<div th:replace="componentes/inicio :: footer"></div>
</body>
</html>